<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploader</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="./app.js" defer></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="nav">
        <button @click="showTheForm" class="nav_button">+</button>
      </div>
      <div v-if="showForm" id="image-form" enc-type="multipart/form-data">
        <label for="image"
          >Click here to add image<input
            v-on:change="newFile"
            ref="file"
            type="file"
            name="image"
            id="image"
        /></label>
        <p class="form-text">Or, drag and drop..</p>
        <upload-area @got-drag-file="gotDragFile"></upload-area>
        <div v-if="file !== null">
          <img :src="file.name" alt="">
        </div>
        <button class="form_button" @click="pushImage">Upload!</button>
      </div>
      <div class="images" v-if="images.length !== 0">
        <div v-for="image in images">
          <img :src="image.imageUrl" class="grid_image" alt="" />
        </div>
      </div>
      <!-- <div class="images" v-else>No Images :(</div> -->
    </div>
  </body>
</html>
