* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: "Rubik", sans-serif;
}

#image-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 10px 15px;
}

.images {
  display: grid;
  margin: 0px auto;
  max-width: 75%;
  /* width: 200px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

img {
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
}

/* img:nth-child(n + 4) {
  margin-top: 5px;
} */

label,
input,
button {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
}

button,
input {
  border: none;
  width: 50%;
  align-self: center;
  padding: 5px;
  border-radius: 8px;
  background-color: #800000;
  cursor: pointer;
  color: #ffffff;
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
  font-size: 40px;
}
