* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
  color: rgba(48, 48, 48, 1);
  font-family: Helvetica, sans-serif;
}

button {
  outline: none;
}

/* nav */

.nav {
  position: sticky;
  z-index: 200;
  background: #efefef;
  top: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav_button {
  background: rgba(48, 48, 48, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30px;
  color: #efefef;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.nav_button.open {
  transform: rotate(45deg);
}

/* images and image grid */

.images {
  display: grid;
  margin: 15px auto;
  max-width: 75%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.grid_image-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
  width: 100%;
}

.grid_image-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid_image {
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.grid_image-banner {
  display: inline-block;
  color: #EFEFEF;
  width: inherit;
  height: 40px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid_image-banner p {
  opacity: 50%;
}

.grid_image-banner p:hover {
  opacity: 100%;
}

/* form */

.form-background {
  z-index: 199;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

#image-form {
  z-index: 200;
  position: fixed;
  background: #efefef;
  top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin-left: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 10px 15px;
}

#image-form input,
#image-form button {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
}

#image-form label,
#image-form p {
  display: inline-block;
  width: 100%;
  font-size: 20px;
}

#image-form label {
  cursor: pointer;
}

#image-form label:hover {
  color: rgb(47, 47, 230);
}

#image-form button {
  background: rgba(48, 48, 48, 1);
  border-radius: 10px;
  align-self: center;
  padding: 5px;
  cursor: pointer;
  width: 70%;
  border: none;
  color: #ffffff;
}

#image-form button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

input {
  border: none;
  width: 50%;
  align-self: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
}

input[type="file"] {
  display: none;
}

#upload-wrapper {
  display: flex;
  margin: 5px auto;
  width: 70%;
  border-color: rgba(48, 48, 48, 1);
  border-width: 3px;
  border-style: dashed;
  border-radius: 10px;
  height: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

#file-drag {
  width: 90%;
  height: 90%;
  flex-direction: column;
  background-color: rgb(212, 212, 212);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

#preview img {
  width: 90%;
  height: auto;
}

/* animations and transitions */

.v-enter-from,
.v-leave-to {
  transform: translateY(-20px);
  opacity: 0%;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}

.v-enter-to,
.v-leave-from {
  transform: translateY(0);
  opacity: 100%;
}

.banner-enter-from,
.banner-leave-to {
  transform: translateY(-40px);
  opacity: 0%;
}

.banner-enter-active,
.banner-leave-active {
  transition: all 0.5s ease;
}

.banner-enter-to,
.banner-leave-from {
  transform: translateY(0);
  opacity: 100%;
}