* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
  font-family: "Rubik", sans-serif;
}

button {
  outline: none;
}

.nav {
  position: sticky;
  z-index: 200;
  background: #efefef;
  top: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav_button {
  background: rgba(48, 48, 48, 1);
  width: 30px;
  color: #EFEFEF;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#image-form {
  z-index: 200;
  position: fixed;
  background: #efefef;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin-left: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 10px 15px;
}

.images {
  display: grid;
  margin: 15px auto;
  max-width: 75%;
  /* width: 200px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.grid_image {
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.grid_image:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* img:nth-child(n + 4) {
  margin-top: 5px;
} */

#image-form label,
#image-form input,
#image-form button,
#image-form p {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
}

#image-form button,
#image-form label {
  background: rgba(48, 48, 48, 1);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  align-self: center;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border: none;
  color: #ffffff;
}

input {
  border: none;
  width: 50%;
  align-self: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
}

input[type="file"] {
  display: none;
}

#file-drag {
  display: flex;
  width: 50%;
  height: 100px;
  margin: 5px auto;
  border-color: black;
  border-width: 3px;
  border-style: dashed;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
