* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;
    color: rgba(48, 48, 48, 1);
    font-family: Helvetica, sans-serif;
}

button {
    outline: none;
    border-style: none;
    cursor: pointer;
}

:root {
    --accent-color: #3cb043;
}
