* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
  color: rgba(48, 48, 48, 1);
  font-family: Helvetica, sans-serif;
}

button {
  outline: none;
}

/* nav */

.nav {
  position: sticky;
  z-index: 200;
  background: #efefef;
  width: 100%;
  padding: 0px 12.5%;
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: auto;
}

.nav_button {
  background: #00D100;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  width: 38px;
  height: 38px;
  /* margin-left: 10px; */
  color: #efefef;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 36px !important;
  transition: all 0.3s ease-in-out;
}

.nav_button.open {
  transform: rotate(45deg);
}

.nav .material-icons {
  font-size: 48px;
  margin-right: 10px;
}

#search {
  display: inline-block;
  font-size: 16px;
  color: black;
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  padding: 0 5px;
}

/* images and image grid */

.images {
  display: grid;
  margin: 15px auto;
  max-width: 75%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.grid_image {
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.grid_image-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
  width: 100%;
}

.grid_image-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid_image-banner {
  display: inline-block;
  color: #EFEFEF;
  width: inherit;
  height: 60px;
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.05); */
  background: linear-gradient(
    to bottom,
    rgba(129, 129, 129, 0.4),
    rgba(255, 0, 0, 0)
  );
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid_image-banner a {
  color: #EFEFEF;
}

.grid_image-banner .delete-icon,
.grid_image-banner .download-icon {
  font-size: 48px;
  opacity: 80%;
}

.grid_image-banner .image-name {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  opacity: 80%;
}

.grid_image-banner .delete-icon:hover,
.grid_image-banner .download-icon:hover {
  opacity: 100%;
}

/* form */

.form-background {
  z-index: 199;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

#image-form {
  z-index: 199;
  position: fixed;
  background: #efefef;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin-left: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 10px 15px;
}

#image-form input,
#image-form button {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
}

#file-drag label,
#image-form p {
  display: inline-block;
  width: 100%;
  font-size: 20px;
}

#file-drag label {
  cursor: pointer;
}

#file-drag label:hover {
  color: rgb(47, 47, 230);
}

#image-form button {
  /* background: rgba(48, 48, 48, 1); */
  background-color: #00D100;
  border-radius: 10px;
  align-self: center;
  padding: 5px;
  cursor: pointer;
  width: 70%;
  border: none;
  color: #ffffff;
}

#image-form button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

#image-input {
  border: none;
  width: 50%;
  align-self: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
}

#image-input[type="file"] {
  display: none;
}

#upload-wrapper {
  display: flex;
  margin: 5px auto;
  width: 70%;
  border-color: rgba(48, 48, 48, 1);
  border-width: 3px;
  border-style: dashed;
  border-radius: 10px;
  height: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

#file-drag {
  width: 90%;
  height: 90%;
  flex-direction: column;
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

#file-drag .material-icons {
  font-size: 36px !important;
}

#preview img {
  width: 90%;
  height: auto;
}

.image-name-container {
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.image-name-container label {
  display: inline-block;
  font-size: 24px;
  width: 20%;
  color: black;
  padding-top: 4px;
}

.image-name-container input {
  display: inline-block;
  width: 80%;
  font-size: 16px;
  color: black;
  outline: none;
  border-radius: 10px;
  height: 35px;
  padding: 0 5px;
  text-align: left !important;
}

/* animations and transitions */

.v-enter-from,
.v-leave-to {
  transform: translateY(-20px);
  opacity: 0%;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}

.v-enter-to,
.v-leave-from {
  transform: translateY(0);
  opacity: 100%;
}

.banner-enter-from,
.banner-leave-to {
  transform: translateY(-40px);
  opacity: 0%;
}

.banner-enter-active,
.banner-leave-active {
  transition: all 0.5s ease;
}

.banner-enter-to,
.banner-leave-from {
  transform: translateY(0);
  opacity: 100%;
}